# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc

# C extensions
*.so

# Distribution / packaging
*.egg-info/
dist/
build/
eggs/
*.egg

# Virtual environments
.venv/
env/
ENV/

# Coverage reports
.coverage
coverage.*
htmlcov/

# Pytest cache
.pytest_cache/

# Environment variables files
.env
.env.*

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~
.nfs*

# Logs and databases
*.log
*.sql
*.sqlite

# Others
pip-wheel-metadata/
*.manifest
*.spec

# ruff
.ruff_cache/
